body
	+base
	font-size: 14px
	line-height: 1.5

.wrapper
	position: relative
	width: 100%
	min-height: 100%
	height: auto
	overflow-x: hidden

.container
	max-width: 1200px
	margin: 0 auto
	padding-right: 15px
	padding-left: 15px

.logo
	+title
	line-height: 1.5
	letter-spacing: 1px

.header
	position: relative
	z-index: 100

.header__wrap
	+row

.header__top,
.header__main-menu
	flex-basis: 100%
	max-width: 100%
	padding-right: 15px
	padding-left: 15px

.header__top
	padding-top: 65px
	padding-bottom: 30px
	@media (max-width: 575.98px)
		padding-top: 30px

.header__main-menu
	padding: 0
	@media (max-width: 1199.98px)
		position: fixed
		top: 0
		left: 0
		width: 100%;
		transition: all .3s ease
	@media (min-width: 1200px)
		padding: 15px 0 35px

.header__main-menu--out
	@media (max-width: 1199.98px)
		transform: translateY(-100%)

.header__logo
	font-size: 35px
	line-height: 1
	text-align: center

.footer
	background-color: #f7f7f7
	@media (max-width: 1199.98px)
		display: none

.footer__top
	padding-top: 25px
	padding-bottom: 20px

.footer__main-menu
	padding-bottom: 35px
	@media (max-width: 1199.98px)
		display: none

.footer__bottom
	padding-top: 5px
	padding-bottom: 10px
	border-top: 1px solid rgba(0, 0, 0, 0.05)

.footer__logo
	font-size: 28px
	text-align: center

.footer__copyright
	font-size: 10px
	line-height: 1.5
	color: rgba($color-base, 0.8)
	text-align: right
