body
	position: relative
	display: flex
	height: 100%
	font-size: 14px
	line-height: 1.5
	+base


.wrapper
	position: relative
	width: 100%
	display: flex
	flex-direction: column
	min-height: 100%
	height: auto !important
	overflow-x: hidden


.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	padding: 0
	border: 0
	clip: rect(1px, 1px, 1px, 1px)
	overflow: hidden


.container
	max-width: 1200px
	margin: 0 auto
	padding-right: 15px
	padding-left: 15px


.logo
	+title
	line-height: 1.5
	letter-spacing: 1px


.button
	display: inline-flex
	justify-content: center
	align-items: center
	padding: 12px 15px
	+base
	font-weight: 600
	font-size: 12px
	line-height: 1.5
	text-decoration: none
	text-transform: uppercase
	letter-spacing: 2px
	color: #ffffff
	background-color: rgba(0, 0, 0, 0.7)
	border: 2px solid $color-emphasis
	transition: all 0.15s ease
	&:focus,
	&:hover
		background-color: $color-emphasis
	&:active
		background-color: rgba($color-emphasis, .9)

.button--arrow
	position: relative
	&::after
		display: block
		margin-left: 5px
		width: 30px
		height: 25px
		content: ""
		background-image: url("../img/arrow.svg")
		background-repeat: no-repeat
		background-size: 24px 25px
		background-position: left 0 center
		transition: background-position 0.25s ease-in-out
	&:focus::after,
	&:hover::after
		background-position: right 0 center

.button--mono
	background: rgba(0, 0, 0, 0.3)
	border: 1px solid #ffffff
	&:focus,
	&:hover
		color: $color-base
		background-color: #ffffff
	&:active
		background-color: rgba(#ffffff, .9)


.main-menu
	position: relative

.main-menu__control
	position: relative
	display: block
	margin: 0
	padding: 25px
	background-color: transparent
	border: 0
	cursor: pointer
	transition-property: opacity, filter
	transition-duration: 0.15s
	transition-timing-function: linear
	&:focus,
	&:hover
		opacity: 0.7

.main-menu__control--open
	background-color: $color-emphasis
	@media (min-width: 1199.98px)
		display: none

.main-menu__control--close
	position: absolute
	right: 0
	margin-top: 5px
	margin-right: 5px
	background-image: url('../img/menu-close.svg')
	background-size: 30px
	background-position: center
	background-repeat: no-repeat
	@media (min-width: 576px)
		display: none

.main-menu__control-icon
	display: block
	top: 50%;
	left: 50%
	margin-top: -1px
	transform: translateX(-50%)
	&,
	&::before,
	&::after
		position: absolute
		width: 22.5px
		height: 2px
		background-color: #ffffff
	&::before,
	&::after
		display: block
		content: ""
	&::before
		top: -6.5px
	&::after
		bottom: -6.5px

.main-menu ul
	+row
	list-style: none
	justify-content: space-between

.main-menu li a
	display: block
	padding: 10px 15px
	+base
	font-size: 15px
	line-height: 1.2
	letter-spacing: 2px
	color: $color-base
	text-decoration: none
	text-transform: uppercase
	&:focus,
	&:hover
		color: rgba($color-base, 0.55)
	&:active
		opacity: 0.25
	+md
		color: #48494d

.header
	position: relative
	z-index: 100

.header__wrap
	+row

.header__top,
.header__main-menu
	flex-basis: 100%
	max-width: 100%
	padding-right: 15px
	padding-left: 15px

.header__top
	padding-top: 65px
	padding-bottom: 30px
	@media (max-width: 575.98px)
		padding-top: 30px

.header__main-menu
	padding-top: 15px
	padding-bottom: 35px
	+xs
		padding: 0
	@media (max-width: 1199.98px)
		position: fixed
		top: 0
		left: 0
		width: 100%;
		transition: all .3s ease

.header__main-menu--out
	@media (max-width: 1199.98px)
		transform: translateY(-100%)

.header__logo
	font-size: 35px
	line-height: 1
	text-align: center


.slider
	position: relative

.slider__item
	position: relative

.slider__image
	position: relative
	background-color: #c4c4c4
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	&::before
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		content: ""
		background-color: rgba(0,0,0,.25)

.slider__wrap
	position: relative
	display: block
	margin: 0 auto
	max-width: 980px
	width: 100%
	padding-right: 15px
	padding-left: 15px

.slider__controls
	position: absolute
	top: 56.5%
	right: 0
	left: 0
	max-width: 970px
	width: 100%
	margin: 0 auto
	display: flex
	flex-wrap: wrap
	flex-direction: row
	justify-content: space-between
	@media (max-width: 575.98px)
		display: none

.slider__control
	position: relative
	display: flex
	padding: 15px 10px
	+base
	font-size: 13px
	line-height: 1.2
	color: #ffffff
	background: unset
	transition: opacity .15s ease
	&::before,
	&::after
		display: block
		margin-top: 8px
		height: 1px
		width: 65px
		background-color: #ffffff
		transition: width .15s ease
	&:focus::before,
	&:focus::after,
	&:hover::before,
	&:hover::after
		width: 50px
	&:active
		opacity: 0.75

.slider__control--prev:after
	right: -100%
	margin-left: 10px
	content: ""

.slider__control--next:before
	left: -100%
	margin-right: 10px
	content: ""

.slider__content
	display: block
	min-height: 465px
	padding-top: 60px
	padding-bottom: 30px
	text-align: center
	@media (max-width: 575.98px)
		min-height: 370px
		padding-top: 25px

.slider__badge
	display: inline-block
	margin: 0 auto 35px
	padding: 5px 15px
	+base
	font-size: 16px
	line-height: 1.2
	text-transform: uppercase
	letter-spacing: 2px;
	color: #ffffff
	background-color: $color-emphasis
	@media (max-width: 575.98px)
		margin-bottom: 20px

.slider__title
	display: block
	margin-bottom: 115px
	+base
	font-weight: 300
	font-size: 72px
	letter-spacing: 2px
	text-transform: uppercase
	color: #ffffff
	@media (max-width: 575.98px)
		margin-bottom: 5px
		font-size: 30px

.slider__excerpt
	display: block
	max-width: 480px
	margin: 0 auto
	padding: 10px 15px
	+base
	font-size: 14px
	line-height: 1.5
	color: #ffffff

.slider .slick-dots
	bottom: 20px


.content
	position: relative

.content__wrap
	+row
	padding-top: 95px
	@media screen and ( max-width: 992px)
		padding-top: 0

.content__main
	flex-basis: 66.66666667%
	max-width: 66.66666667%
	+row
	margin: 0
	padding-right: 15px
	padding-left: 15px
	+xs
		flex-basis: 100%
		max-width: 100%
	@media screen and ( max-width: 992px)
		flex-basis: 100%
		max-width: 100%

.content__main > *
	flex-basis: 100%
	max-width: 100%
	@media screen and ( max-width: 992px)
		order: 1

.content__aside
	flex-basis: 33.33333333%
	max-width: 33.33333333%
	+row
	margin: 0
	padding-right: 15px
	padding-left: 15px
	+xs
		flex-basis: 100%
		max-width: 100%
	@media screen and ( max-width: 992px)
		order: 3
		flex-basis: 100%
		max-width: 100%


.content__random-article
	flex-basis: 100%
	max-width: 100%
	margin-top: auto
	@media screen and ( max-width:  420px)
		flex-basis: unset
		max-width: unset
		margin-right: -15px
		margin-left: -15px
		padding: 0

.content__small-slider
	flex-basis: 100%
	max-width: 100%
	margin-top: auto
	padding-top: 80px
	padding-bottom: 90px
	@media screen and ( max-width: 992px)
		padding-top: 50px
		padding-bottom: 75px
		order: 2
	@media (min-width: 768px) and (max-width: 991.98px)
		padding-top: 25px
		padding-bottom: 25px


.section
	position: relative

.section__title
	display: block
	margin-bottom: 10px
	+base
	font-weight: 600
	font-size: 17px
	line-height: 1.5
	text-transform: uppercase
	color: $color-base
	letter-spacing: 2px
	@media screen and ( max-width: 992px)
		margin-top: 50px

.last-news
	position: relative

.last-news__wrap
	+row

.last-news__new
	flex-basis: 62.5%
	max-width: 62.5%
	padding-right: 15px
	padding-left: 15px
	@media screen and (max-width: 1199.98px)
		flex-basis: 100%
		max-width: 100%
		margin-bottom: 25px

.last-news__new-box
	position: relative
	display: flex
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	@media screen and (max-width: 1199.98px)
		min-height: 335px

.last-news__new-content
	margin-top: auto
	padding: 20px

.last-news__items
	flex-basis: 37.5%
	max-width: 37.5%
	padding-right: 15px
	padding-left: 15px
	+xs
		flex-basis: 100%
		max-width: 100%
	@media screen and ( min-width:  599px) and (max-width: 1199.98px)
		flex-basis: 100%
		max-width: 100%
		+row
		margin: 0

.last-news__item
	flex-basis: 100%
	max-width: 100%
	margin-bottom: 12%
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	&:last-of-type
		margin-bottom: 0
	@media screen and ( min-width:  599px) and (max-width: 1199.98px)
		flex-basis: 50%
		max-width: 50%
		margin-bottom: 25px

.last-news__image
	position: relative
	display: block
	min-width: 125px
	width: 125px
	height: 90px
	flex-grow: 1
	line-height: 1
	overflow: hidden
	&::before
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		content: ""
		background-color: transparent
		border: 2px solid transparent
		transition: all .15s ease

.last-news__image img
	object-fit: cover

.last-news__header
	position: relative
	min-width: 125px
	max-width: 125px
	width: 100%
	overflow: hidden

.last-news__content
	display: flex
	align-items: center
	margin-left: 5%

.last-news__title
	margin-bottom: 3px
	+title
	font-size: 14px
	line-height: 1.4

.last-news__text
	+base
	font-size: 10px
	line-height: 1.5

.last-news__link
	color: inherit
	text-decoration: none
	transition: color .15s ease
	&:focus,
	&:hover,
	&:focus > *,
	&:hover > *
		color: $color-emphasis
	&:active,
	&:active > *
		opacity: .75

.last-news__bookmark
	position: absolute
	top: -30px
	right: 0
	width: 30px
	height: 30px
	display: flex
	align-items: center
	justify-content: center
	border: 2px solid transparent
	transition: all .25s ease
	opacity: 0
	&:focus,
	&:hover
		border: 2px solid $color-emphasis
		opacity: 1
	&:active
		opacity: 0.85

.last-news__image:focus::before,
.last-news__image:hover::before
	background-color: rgba(0,0,0,.25)
	border: 2px solid $color-emphasis

.last-news__header:focus-within .last-news__image::before
	background-color: rgba(0,0,0,.25)

.last-news__header:focus-within .last-news__bookmark
	top: 0
	opacity: 1

.last-news__bookmark-icon svg
	display: block
	height: 18px
	color: #ffffff

.last-news__bookmark:focus svg,
.last-news__bookmark:hover svg
	color: $color-emphasis

.last-news__new .last-news__title
	font-size: 20px
	line-height: 1.5
	margin-bottom: 5px
	&::before
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		content: ""
		border: 2px solid transparent
		transition: border .15s ease

.last-news__new .last-news__link:hover > .last-news__title:before,
.last-news__new .last-news__link:focus > .last-news__title:before
	border: 2px solid $color-emphasis

.last-news__new .last-news__text
	font-size: 14px


.reviews
	+row

.review
	flex-basis: 50%
	max-width: 50%
	margin-bottom: 20px
	padding-right: 15px
	padding-left: 15px
	+xs
		flex-basis: 100%
		max-width: 100%
		margin-bottom: 10px

.reviews__pagination
	flex-basis: 100%
	max-width: 460px
	margin: 0 auto 20px
	padding-right: 15px
	padding-left: 15px
	@media (max-width: 992px)
		margin-bottom: 50px

.review__header
	position: relative
	overflow: hidden

.review__counts
	position: absolute
	bottom: -100%
	z-index: 15
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	transition: bottom 0.20s ease

.statistic__count
	position: relative
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-items: center
	padding: 5px 10px
	color: #ffffff
	text-decoration: none
	transition: color 0.15s ease
	&:focus::before
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		content: ""
		border: 2px solid $color-emphasis
	&:focus,
	&:hover
		color: $color-emphasis

.statistic__count-icon svg
	height: 18px

.statistic__count-text
	display: block
	margin-left: 10px
	font-weight: 400
	font-size: 18px
	line-height: 1.5
	font-family: sans-serif

.review__control-text
	display: block
	margin-left: 15%
	font-weight: 400
	font-size: 18px
	line-height: 1.5
	font-family: sans-serif
	color: inherit

.review__bookmark
	position: absolute
	top: -100%
	right: 5px
	z-index: 15
	display: flex
	justify-content: center
	align-items: center
	width: 35px
	height: 35px
	color: #ffffff
	transition: color 0.15s ease, top 0.20s ease
	&::before
		position: absolute
		top: -5px
		right: -5px
		left: -5px
		bottom: -5px
		content: ""
	&:focus::before
		border: 2px solid $color-emphasis
	&:focus,
	&:hover
		color: $color-emphasis

.review__bookmark-icon svg
	height: 18px

.review__image
	position: relative
	display: block
	height: 205px
	width: 100%
	line-height: 1
	overflow: hidden
	& > img
		display: block
		height: 100%
		width: 100%
		object-fit: cover
		transition: transform 0.175s ease
	&::before
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		z-index: 10
		content: ""
		background-color: transparent
		border: 2px solid transparent
		transition: background-color 0.25s ease
	&:focus::before
		border: 2px solid $color-emphasis
	&:focus::before,
	&:hover::before
		background-color: rgba(0,0,0,.25)
	&:focus img,
	&:hover img
		transform: scale(1.025)

.review__header:hover .review__image,
.review:focus-within .review__image
	&::before
		background-color: rgba(0,0,0,.25)
	& img
		transform: scale(1.025)

.review__header:hover .review__bookmark,
.review:focus-within .review__bookmark
	top: 5px

.review__header:hover .review__counts,
.review:focus-within .review__counts
	bottom: 0

.review__content
	padding: 20px 0

.review__title
	display: block
	margin-bottom: 10px
	+title
	font-size: 23px
	line-height: 1.25
	color: $color-base

.review__link
	line-height: 1
	color: inherit
	text-decoration: none
	transition: color 0.15s ease
	&:focus,
	&:hover,
	&:focus > *,
	&:hover > *
		color: $color-emphasis
	&:active,
	&:active > *
		opacity: 0.75

.review__text
	+base
	font-size: 14px
	line-height: 1.5
	color: $color-base


.pagination
	position: relative

.pagination__controls
	+row
	padding-right: 15px
	padding-left: 15px

.pagination__list
	+row
	margin: 0 auto

.pagination__control
	position: relative
	display: flex
	width: 30px
	height: 30px
	opacity: 0.5
	transition: opacity .15s ease
	&::before
		position: absolute
		top: 50%
		transform: translateY(-50%)
		display: block
		width: 9px
		height: 9px
		content: ""
		background-image: url(../img/rhombus.svg)
		background-size: 100%
		background-repeat: no-repeat
		transition: all .15s ease
	&::after
		position: absolute
		top: 1.5px
		right: 0
		bottom: 1.5px
		content: ""
		display: block
		width: 1px
		background-color: $color-base
		transition: all .15s ease
	&:focus,
	&:hover
		opacity: 1
	&:active
		opacity: 0.3
	&:focus::before,
	&:hover::before,
	&:active::before
		width: 18px
		height: 18px

.pagination__control.pagination__control--disabled
	opacity: 0.1
	cursor: default
	&:focus::before,
	&:hover::before,
	&:active::before
		width: 9px
		height: 9px

.pagination__control--prev
	&::before
		left: 0
	&::after,
	&.pagination__control--disabled:focus::after,
	&.pagination__control--disabled:hover::after,
	&.pagination__control--disabled:active::after
		right: 0
	&:focus::after,
	&:hover::after,
	&:active::after
		right: 5px

.pagination__control--next
	&::before
		right: 0
		transform: translateY(-50%) rotate(180deg)
	&::after,
	&.pagination__control--disabled:focus::after,
	&.pagination__control--disabled:hover::after,
	&.pagination__control--disabled:active::after
		left: 0
	&:focus::after,
	&:hover::after,
	&:active::after
		left: 5px

.pagination__link
	display: flex
	align-items: center
	justify-content: center
	width: 30px
	height: 30px
	font-family: sans-serif
	font-size: 14px
	line-height: 1
	text-decoration: none
	color: lighten($color-base, 40%)
	background-color: transparent
	transition: all .15s ease
	&:not(.pagination__link--active):focus,
	&:not(.pagination__link--active):hover
		color: $color-base
		background-color: lighten($color-base, 80%)

.pagination__link--active
	position: relative
	font-size: 20px
	color: $color-base
	cursor: default
	&::after
		position: absolute
		bottom: -1px
		right: 0
		left: 0
		display: block
		margin: 0 auto
		height: 3px
		width: 13px
		content: ""
		background-color: $color-emphasis


.random-article
	position: relative

.random-article__box
	position: relative
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center
	width: 100%
	height: 140px
	padding: 20px
	background-repeat: no-repeat
	background-size: cover
	&::before
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		content: ""
		background-color: transparent
		border: 2px solid transparent
		transition: border .15s ease
	+xs
		padding: 45px 15px 25px
		height: unset

.random-article__inner
	z-index: 20
	display: flex
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: center
	text-align: center
	@media screen and ( max-width: 576px)
		flex-wrap: wrap
		justify-content: center

.random-article__title
	display: block
	max-width: 400px
	margin-right: 45px
	+base
	font-weight: 500
	font-size: 30px
	line-height: 1.25
	text-decoration: none
	text-transform: uppercase
	letter-spacing: 2px
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	color: #ffffff
	&::before
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		content: ""
	@media screen and  ( max-width: 500px)
		margin: 0 auto 20px
		width: 100%
	@media screen and ( max-width: 992px)
		font-size: 20px

.random-article:focus-within .random-article__box:before,
.random-article:hover .random-article__box:before
	background-color: rgba(0,0,0,.25)
	border-color: $color-emphasis

.random-article__butoon
	max-width: 170px


.events
	+row
	@media screen and ( max-width:  599px)
		padding-top: 45px
		padding-bottom: 45px

.event
	flex-basis: 100%
	max-width: 100%
	margin-bottom: 30px
	padding-right: 15px
	padding-left: 15px
	@media screen and ( min-width:  599px) and ( max-width: 992px)
		flex-basis: 50%
		max-width: 50%
	@media (min-width: 992px)
		&:last-of-type
			margin-bottom: unset

.event__box
	position: relative
	display: block
	height: 480px
	padding: 50px 10%
	text-align: center
	overflow: hidden
	+xs
		padding: 40px 10%
		height: 310px

.event__image
	background-size: cover
	background-repeat: no-repeat

.event__title
	z-index: 20
	+title
	font-size: 30px
	line-height: 1.3
	text-align: center
	text-decoration: none
	text-transform: uppercase
	letter-spacing: 2px
	color: #1a1c1c
	+xs
		font-size: 20px

.event__title::after
	position: absolute
	top: 0
	right: 0
	left: 0
	bottom: 0
	content: ""
	border: 2px solid transparent
	transition: border .15s ease;

.event__title:focus::after,
.event__title:hover::after,
.event:focus-within .event__title::after,
.event:focus .event__title::after,
.event:hover .event__title::after,
.event:active .event__title::after
	border: 2px solid $color-emphasis

.event__title--dark
	color: #ffffff

.event__button
	position: absolute
	right: 0
	left: 0
	z-index: 15
	bottom: 28px
	margin: 0 auto
	max-width: 170px
	+xs
		bottom: 40px


.small-slider
	position: relative

.small-slider__item
	padding-right: 15px
	padding-left: 15px

.small-slider__content
	display: none
	width: 100%
	height: 100%
	padding: 40px 15px 20px
	background-color: transparent
	transition: background 0.25s ease
	@media (max-width: 1199.98px)
		display: block
		padding: 35px 15px 25px
		min-height: 145px
		background-color: rgba(0,0,0, .45)

.small-slider__box
	position: relative
	min-height: 135px
	text-align: center
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	&::before,
	&::after
		position: absolute
		right: 0
		left: 0
		z-index: 40
		display: block
		height: 13px
		content: ""
		background-color: #ffffff
		transition: all .25s ease
	&::before
		top: 0
	&::after
		bottom: 0
	&:hover::before,
	&:hover::after
		height: 0
	&:hover .small-slider__content
		display: block
		min-height: 135px
		background-color: rgba(0,0,0, .45)
	@media (max-width: 1199.98px)
		min-height: 145px
		&::before,
		&::after
			content: unset

.small-slider__control
	position: absolute
	top: 50%
	z-index: 10
	transform: translateY(-60%)
	display: flex
	height: 44px
	width: 44px
	background-color: rgba(255, 255, 255, 0.85)
	background-image: url(../img/rhombus.svg)
	background-repeat: no-repeat
	background-position: center
	background-size: 9px
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15)
	transition: all 0.15s ease
	&:focus,
	&:hover
		background-color: #ffffff
	&:active
		background-color: darken(#ffffff, 1%)
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
	&--prev
		left: -7px
	&--next
		right: -7px
		transform: translateY(-60%) rotate(180deg)
	@media (max-width: 575.98px)
		display: none

.small-slider__title
	z-index: 15
	display: block
	margin-bottom: 10px
	+base
	font-weight: 600
	font-size: 16px
	line-height: 1.7
	text-decoration: none
	text-transform: uppercase
	letter-spacing: 2px
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
	color: #ffffff
	&::before
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		content: ""

.small-slider__button
	position: relative
	z-index: 15
	padding: 5px 15px
	font-size: 12px
	line-height: 1.5
	letter-spacing: 2px

.small-slider .slick-dots
	bottom: -30px


.footer
	background-color: #f7f7f7
	@media (max-width: 1199.98px)
		display: none

.footer__top
	padding-top: 25px
	padding-bottom: 20px

.footer__main-menu
	padding-bottom: 35px
	@media (max-width: 1199.98px)
		display: none

.footer__bottom
	padding-top: 5px
	padding-bottom: 10px
	border-top: 1px solid rgba(0, 0, 0, 0.05)

.footer__logo
	font-size: 28px
	text-align: center

.footer__copyright
	font-size: 10px
	line-height: 1.5
	color: rgba($color-base, 0.8)
	text-align: right
