---
title: Новости культуры
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {% include "partials/_header.html" %}

  <div class="slider">
    <div class="slider__items">
      <div class="slider__item">
        <div class="slider__content slider__image"  style="background-image: url(./img/slider-1.jpg);">
          <div class="slider__wrap">
            <span class="slider__badge">новое</span>
            <span class="slider__title">Подводный отель</span>
            <span class="slider__excerpt">Как известно, Дубай – город контрастов. Самые революционные и фантастические мечты архитекторов способен воплотить в жизнь этот мегаполис, построенный на нефти и за счет нефти</span>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__content slider__image"  style="background-image: url(./img/slider-2.jpg);">
          <div class="slider__wrap">
            <span class="slider__badge">новое</span>
            <span class="slider__title">Подводный отель</span>
            <span class="slider__excerpt">Как известно, Дубай – город контрастов. Самые революционные и фантастические мечты архитекторов способен воплотить в жизнь этот мегаполис, построенный на нефти и за счет нефти</span>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__controls">
      <button class="slider__control slider__control--prev">Предыдущая</button>
      <button class="slider__control slider__control--next">Следущая</button>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="content__wrap">

        <main class="content__main">

          <section class="section">
            <h2 class="section__title">Новости</h2>
            <div class="last-news">
              <div class="last-news__wrap">

                <article class="last-news__new">
                  <div class="last-news__new-box" style="background-image: url(./img/article-1.jpg);">
                    <div class="last-news__new-content">
                      <a class="last-news__link" href="#">
                        <h3 class="last-news__title">Новости культуры России и всего мира</h3>
                      </a>
                      <p class="last-news__text">В минувшие выходные в Москве на фестивале «Оберег» вручили первую премию Russian World Music Awards</p>
                    </div>
                  </div>
                </article>

                <div class="last-news__items">
                  <article class="last-news__item">
                    <header class="last-news__header">
                      <a class="last-news__image" href="#">
                        <img src="./img/article-2.jpg" alt="Открытие нового памятника Евгению Леонову">
                      </a>
                      <a class="last-news__bookmark" href="#">
                        <span class="last-news__bookmark-icon">
                          <svg viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1h12v15l-6-4.865L1 16V1z" stroke="currentColor" stroke-width="1.5"/></svg>
                        </span>
                        <span class="visually-hidden">Добавить в закладки</span>
                      </a>
                    </header>
                    <div class="last-news__content">
                      <div class="last-news__content-inner">
                        <a class="last-news__link" href="#">
                          <h3 class="last-news__title">Открытие нового памятника Евгению Леонову</h3>
                        </a>
                        <p class="last-news__text">10 сентября в 15:00 был открыт памятник писателю</p>
                      </div>
                    </div>
                  </article>
                  <article class="last-news__item">
                    <header class="last-news__header">
                      <a class="last-news__image" href="#">
                        <img src="./img/article-3.jpg" alt="Беседы с писателями">
                      </a>
                      <a class="last-news__bookmark" href="#">
                        <span class="last-news__bookmark-icon">
                          <svg viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1h12v15l-6-4.865L1 16V1z" stroke="currentColor" stroke-width="1.5"/></svg>
                        </span>
                        <span class="visually-hidden">Добавить в закладки</span>
                      </a>
                    </header>
                    <div class="last-news__content">
                      <div class="last-news__content-inner">
                        <a class="last-news__link" href="#">
                          <h3 class="last-news__title">Беседы с писателями</h3>
                        </a>
                        <p class="last-news__text">Русские писатели говорят о важности искусства</p>
                      </div>
                    </div>
                  </article>
                  <article class="last-news__item">
                    <header class="last-news__header">
                      <a class="last-news__image" href="#">
                        <img src="./img/article-4.jpg" alt="День и ночь св. Патрика: встреча старых друзей">
                      </a>
                      <a class="last-news__bookmark" href="#">
                        <span class="last-news__bookmark-icon">
                          <svg viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1h12v15l-6-4.865L1 16V1z" stroke="currentColor" stroke-width="1.5"/></svg>
                        </span>
                        <span class="visually-hidden">Добавить в закладки</span>
                      </a>
                    </header>
                    <div class="last-news__content">
                      <div class="last-news__content-inner">
                        <a class="last-news__link" href="#">
                          <h3 class="last-news__title">День и ночь св. Патрика: встреча старых друзей</h3>
                        </a>
                        <p class="last-news__text">Не Джойсом единым живет Ирландия!</p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </section>

          <section class="section">
            <h2 class="section__title">Обзоры</h2>
            <div class="reviews">

              <article class="review">
                <header class="review__header">
                  <a class="review__image" href="#">
                    <img src="./img/review-1.jpg" alt="«Шальные годы» Монпарнаса">
                  </a>
                  <a class="review__bookmark" href="#">
                    <span class="review__bookmark-icon">
                      <svg viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1h12v15l-6-4.865L1 16V1z" stroke="currentColor" stroke-width="1.5"/></svg>
                    </span>
                    <span class="visually-hidden">Добавить в закладки</span>
                  </a>
                  <div class="review__counts">
                    <a class="statistic__count" href="#">
                      <span class="statistic__count-icon">
                        <svg viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 7.462c.32 0 .579-.242.579-.539 0-.297-.26-.538-.579-.538-.32 0-.579.24-.579.538 0 .297.26.539.579.539z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 12.846c2.878 0 5.21-2.17 5.21-4.846S14.878 3.154 12 3.154 6.79 5.324 6.79 8c0 2.677 2.332 4.846 5.21 4.846z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 8s3.929-7 11-7 11 7 11 7-3.929 7-11 7S1 8 1 8z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                      </span>
                      <span class="statistic__count-text visually-hidden">Кол-во просмотров</span>
                      <span class="statistic__count-text">37</span>
                    </a>
                    <a class="statistic__count" href="#">
                      <span class="statistic__count-icon">
                        <svg viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 13c4.418 0 8-2.686 8-6s-3.582-6-8-6-8 2.686-8 6c0 2.236 1.631 4.187 4.05 5.219.057 1.388-.483 2.726-1.764 2.726.99.179 3.395.017 5.417-1.95C8.8 13 8.9 13 9 13z" stroke="currentColor" stroke-opacity=".4"/></svg>
                      </span>
                      <span class="statistic__count-text visually-hidden">Кол-во комментариев</span>
                      <span class="statistic__count-text">2</span>
                    </a>
                  </div>
                </header>
                <footer class="review__content">
                  <a class="review__link"href="#">
                    <h3 class="review__title">«Шальные годы» Монпарнаса</h3>
                  </a>
                  <p class="review__text">В Музее изобразительных искусств имени Пушкина с 29 сентября по 29 ноября проходит выставка «Шальные годы Монпарнаса»</p>
                </footer>
              </article>

              <article class="review">
                <header class="review__header">
                  <a class="review__image" href="#">
                    <img src="./img/review-2.jpg" alt="Анатомия за 30 секунд">
                  </a>
                  <a class="review__bookmark" href="#">
                    <span class="review__bookmark-icon">
                      <svg viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1h12v15l-6-4.865L1 16V1z" stroke="currentColor" stroke-width="1.5"/></svg>
                    </span>
                    <span class="visually-hidden">Добавить в закладки</span>
                  </a>
                  <div class="review__counts">
                    <a class="statistic__count" href="#">
                      <span class="statistic__count-icon">
                        <svg viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 7.462c.32 0 .579-.242.579-.539 0-.297-.26-.538-.579-.538-.32 0-.579.24-.579.538 0 .297.26.539.579.539z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 12.846c2.878 0 5.21-2.17 5.21-4.846S14.878 3.154 12 3.154 6.79 5.324 6.79 8c0 2.677 2.332 4.846 5.21 4.846z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 8s3.929-7 11-7 11 7 11 7-3.929 7-11 7S1 8 1 8z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                      </span>
                      <span class="statistic__count-text visually-hidden">Кол-во просмотров</span>
                      <span class="statistic__count-text">37</span>
                    </a>
                    <a class="statistic__count" href="#">
                      <span class="statistic__count-icon">
                        <svg viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 13c4.418 0 8-2.686 8-6s-3.582-6-8-6-8 2.686-8 6c0 2.236 1.631 4.187 4.05 5.219.057 1.388-.483 2.726-1.764 2.726.99.179 3.395.017 5.417-1.95C8.8 13 8.9 13 9 13z" stroke="currentColor" stroke-opacity=".4"/></svg>
                      </span>
                      <span class="statistic__count-text visually-hidden">Кол-во комментариев</span>
                      <span class="statistic__count-text">2</span>
                    </a>
                  </div>
                </header>
                <footer class="review__content">
                  <a class="review__link"href="#">
                    <h3 class="review__title">Анатомия за 30 секунд</h3>
                  </a>
                  <p class="review__text">Сейчас, когда мир открыт нараспашку для человека и его познавательных изысканий, интерес к научно-популярной литературе заметно вырос</p>
                </footer>
              </article>

              <article class="review">
                <header class="review__header">
                  <a class="review__image" href="#">
                    <img src="./img/review-3.jpg" alt="Русские балетные сезоны">
                  </a>
                  <a class="review__bookmark" href="#">
                    <span class="review__bookmark-icon">
                      <svg viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1h12v15l-6-4.865L1 16V1z" stroke="currentColor" stroke-width="1.5"/></svg>
                    </span>
                    <span class="visually-hidden">Добавить в закладки</span>
                  </a>
                  <div class="review__counts">
                    <a class="statistic__count" href="#">
                      <span class="statistic__count-icon">
                        <svg viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 7.462c.32 0 .579-.242.579-.539 0-.297-.26-.538-.579-.538-.32 0-.579.24-.579.538 0 .297.26.539.579.539z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 12.846c2.878 0 5.21-2.17 5.21-4.846S14.878 3.154 12 3.154 6.79 5.324 6.79 8c0 2.677 2.332 4.846 5.21 4.846z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 8s3.929-7 11-7 11 7 11 7-3.929 7-11 7S1 8 1 8z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                      </span>
                      <span class="statistic__count-text visually-hidden">Кол-во просмотров</span>
                      <span class="statistic__count-text">37</span>
                    </a>
                    <a class="statistic__count" href="#">
                      <span class="statistic__count-icon">
                        <svg viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 13c4.418 0 8-2.686 8-6s-3.582-6-8-6-8 2.686-8 6c0 2.236 1.631 4.187 4.05 5.219.057 1.388-.483 2.726-1.764 2.726.99.179 3.395.017 5.417-1.95C8.8 13 8.9 13 9 13z" stroke="currentColor" stroke-opacity=".4"/></svg>
                      </span>
                      <span class="statistic__count-text visually-hidden">Кол-во комментариев</span>
                      <span class="statistic__count-text">2</span>
                    </a>
                  </div>
                </header>
                <footer class="review__content">
                  <a class="review__link"href="#">
                    <h3 class="review__title">Русские балетные сезоны</h3>
                  </a>
                  <p class="review__text">В Новом Иерусалиме стартовал необычный культурно-развлекательный спектакль, который покажут в новом театре</p>
                </footer>
              </article>

              <article class="review">
                <header class="review__header">
                  <a class="review__image" href="#">
                    <img src="./img/review-4.jpg" alt="Сферические чудаки">
                  </a>
                  <a class="review__bookmark" href="#">
                    <span class="review__bookmark-icon">
                      <svg viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1h12v15l-6-4.865L1 16V1z" stroke="currentColor" stroke-width="1.5"/></svg>
                    </span>
                    <span class="visually-hidden">Добавить в закладки</span>
                  </a>
                  <div class="review__counts">
                    <a class="statistic__count" href="#">
                      <span class="statistic__count-icon">
                        <svg viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 7.462c.32 0 .579-.242.579-.539 0-.297-.26-.538-.579-.538-.32 0-.579.24-.579.538 0 .297.26.539.579.539z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 12.846c2.878 0 5.21-2.17 5.21-4.846S14.878 3.154 12 3.154 6.79 5.324 6.79 8c0 2.677 2.332 4.846 5.21 4.846z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 8s3.929-7 11-7 11 7 11 7-3.929 7-11 7S1 8 1 8z" stroke="currentColor" stroke-opacity=".4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                      </span>
                      <span class="statistic__count-text visually-hidden">Кол-во просмотров</span>
                      <span class="statistic__count-text">37</span>
                    </a>
                    <a class="statistic__count" href="#">
                      <span class="statistic__count-icon">
                        <svg viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 13c4.418 0 8-2.686 8-6s-3.582-6-8-6-8 2.686-8 6c0 2.236 1.631 4.187 4.05 5.219.057 1.388-.483 2.726-1.764 2.726.99.179 3.395.017 5.417-1.95C8.8 13 8.9 13 9 13z" stroke="currentColor" stroke-opacity=".4"/></svg>
                      </span>
                      <span class="statistic__count-text visually-hidden">Кол-во комментариев</span>
                      <span class="statistic__count-text">2</span>
                    </a>
                  </div>
                </header>
                <footer class="review__content">
                  <a class="review__link"href="#">
                    <h3 class="review__title">Сферические чудаки</h3>
                  </a>
                  <p class="review__text">Корреспондентам «Культурного обозревателя» посчастливилось побывать в театре «Сфера» на премьере спектакля «Чудаки и зануды» </p>
                </footer>
              </article>

              <footer class="reviews__pagination pagination">
                <div class="pagination__controls">
                  <a href="#" class="pagination__control pagination__control--prev pagination__control--disabled">
                    <span class="visually-hidden">Предыдущая</span>
                  </a>
                  <ul class="pagination__list">
                    <li>
                      <a class="pagination__link pagination__link--active" href="#">1</a>
                    </li>
                    <li>
                      <a class="pagination__link" href="#">2</a>
                    </li>
                    <li>
                      <a class="pagination__link" href="#">3</a>
                    </li>
                    <li>
                      <a class="pagination__link" href="#">4</a>
                    </li>
                    <li>
                      <a class="pagination__link" href="#">5</a>
                    </li>
                    <li>
                      <a class="pagination__link" href="#">...</a>
                    </li>
                    <li>
                      <a class="pagination__link" href="#">35</a>
                    </li>
                  </ul>
                  <a href="#" class="pagination__control pagination__control--next">
                    <span class="visually-hidden">Следущая</span>
                  </a>
                </div>
              </footer>

            </div>
          </section>

          <aside class="content__random-article random-article">
            <div class="random-article__box" style="background-image: url(./img/random.jpg);">
              <div class="random-article__inner">
                <a class="random-article__title" href="#">Ох, уж этот балет</a>
                <a class="random-article__butoon button button--arrow" href="#">Смотреть</a>
              </div>
            </div>
          </aside>

        </main>

        <aside class="content__aside">
          <ul class="events">
            <li class="event">
              <span class="event__box event__image" style="background-image: url(./img/event-1.jpg);">
                <a href="#" class="event__title">Воздушные шары</a>
                <a href="#" class="event__button button button--arrow">Смотреть</a>
              </span>
            </li>
            <li class="event">
              <span class="event__box event__image" style="background-image: url(./img/event-2.jpg);">
                <a href="#" class="event__title event__title--dark">Необычная фотосессия</a>
                <a href="#" class="event__button button button--arrow">Смотреть</a>
              </span>
            </li>
            <li class="event">
              <span class="event__box event__image" style="background-image: url(./img/event-3.jpg);">
                <a href="#" class="event__title event__title--dark">Выставка птиц</a>
                <a href="#" class="event__button button button--arrow">Смотреть</a>
              </span>
            </li>
          </ul>
        </aside>

        <aside class="content__small-slider small-slider">
          <div class="small-slider__items">
            <div class="small-slider__item">
              <div class="small-slider__box" style="background-image: url(./img/footer-slider-1.jpg);">
                <div class="small-slider__content">
                  <a href="#" class="small-slider__title">Как все успевать</a>
                  <a href="#" class="small-slider__button button button--mono">смотреть</a>
                </div>
              </div>
            </div>
            <div class="small-slider__item">
              <div class="small-slider__box" style="background-image: url(./img/footer-slider-2.jpg);">
                <div class="small-slider__content">
                  <a href="#" class="small-slider__title">Как все успевать</a>
                  <a href="#" class="small-slider__button button button--mono">смотреть</a>
                </div>
              </div>
            </div>
            <div class="small-slider__item">
              <div class="small-slider__box" style="background-image: url(./img/footer-slider-3.jpg);">
                <div class="small-slider__content">
                  <a href="#" class="small-slider__title">Как все успевать</a>
                  <a href="#" class="small-slider__button button button--mono">смотреть</a>
                </div>
              </div>
            </div>
            <div class="small-slider__item">
              <div class="small-slider__box" style="background-image: url(./img/footer-slider-4.jpg);">
                <div class="small-slider__content">
                  <a href="#" class="small-slider__title">Как все успевать</a>
                  <a href="#" class="small-slider__button button button--mono">смотреть</a>
                </div>
              </div>
            </div>
            <div class="small-slider__item">
              <div class="small-slider__box" style="background-image: url(./img/footer-slider-4.jpg);">
                <div class="small-slider__content">
                  <a href="#" class="small-slider__title">Как все успевать</a>
                  <a href="#" class="small-slider__button button button--mono">смотреть</a>
                </div>
              </div>
            </div>
          </div>
          <div class="small-slider__controls">
            <button class="small-slider__control small-slider__control--prev">
              <span class="visually-hidden">Предыдущая</span>
            </button>
            <button class="small-slider__control small-slider__control--next">
              <span class="visually-hidden">Следущая</span>
            </button>
          </div>
        </aside>

      </div>
    </div>
  </div>

  {% include "partials/_footer.html" %}

{% endblock %}
