<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <p class="footer__logo logo">Новости культуры</p>
    </div>
    <div class="footer__main-menu main-menu">
      <ul class="main-menu__list">
        <li class="main-menu__item">
          <a class="main-menu__link is-current" href="#">Новости</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Обзоры</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Музыка</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Архитектура</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Кино</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Театр</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Литература</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Религия</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Живопись</a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">© 2018 Новости культуры. Все права защищены.</p>
    </div>
  </div>
</footer>
