<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <h1 class="footer__logo logo">Новости культуры</h1>
    </div>
    <div class="footer__nav">
      <div class="main-menu">
        <ul class="main-menu__list">
          <li class="main-menu__item">
            <a href="#" class="main-menu__link">Новости</a>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__link">Обзоры</a>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__link">Музыка</a>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__link">Архитектура</a>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__link">Кино</a>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__link">Театр</a>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__link">Литература</a>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__link">Религия</a>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__link">Живопись</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">© 2018 Новости культуры. Все права защищены.</p>
    </div>
  </div>
</footer>
