<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <p class="footer__logo logo">Новости культуры</p>
    </div>
    <div class="footer__main-menu main-menu">
      <ul>
        <li>
          <a href="#">Новости</a>
        </li>
        <li>
          <a href="#">Обзоры</a>
        </li>
        <li>
          <a href="#">Музыка</a>
        </li>
        <li>
          <a href="#">Архитектура</a>
        </li>
        <li>
          <a href="#">Кино</a>
        </li>
        <li>
          <a href="#">Театр</a>
        </li>
        <li>
          <a href="#">Литература</a>
        </li>
        <li>
          <a href="#">Религия</a>
        </li>
        <li>
          <a href="#">Живопись</a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">© 2018 Новости культуры. Все права защищены.</p>
    </div>
  </div>
</footer>
