<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__top">
        <h1 class="header__logo logo">Новости культуры</h1>
      </div>
      <nav class="header__nav">
        <div class="main-menu">
          <div class="main-menu__controls">
            <button class="main-menu__control">
              <span class="main-menu__control-text visually-hidden">Открыть меню</span>
            </button>
          </div>
          <ul class="main-menu__list main-menu__dropdown main-menu__dropdown--active">
            <li class="main-menu__item">
              <a href="#" class="main-menu__link">Новости</a>
            </li>
            <li class="main-menu__item">
              <a href="#" class="main-menu__link">Обзоры</a>
            </li>
            <li class="main-menu__item">
              <a href="#" class="main-menu__link">Музыка</a>
            </li>
            <li class="main-menu__item">
              <a href="#" class="main-menu__link">Архитектура</a>
            </li>
            <li class="main-menu__item">
              <a href="#" class="main-menu__link">Кино</a>
            </li>
            <li class="main-menu__item">
              <a href="#" class="main-menu__link">Театр</a>
            </li>
            <li class="main-menu__item">
              <a href="#" class="main-menu__link">Литература</a>
            </li>
            <li class="main-menu__item">
              <a href="#" class="main-menu__link">Религия</a>
            </li>
            <li class="main-menu__item">
              <a href="#" class="main-menu__link">Живопись</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
