<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__top">
        <h1 class="header__logo logo">Новости культуры</h1>
      </div>
      <div class="header__main-menu main-menu">
        <button class="main-menu__button main-menu__button--color-orange js-menu-button">
          <span class="main-menu__icon-box">
            <span class="main-menu__icon main-menu__icon--color-white"></span>
          </span>
          <span class="main-menu__text">Показать/скрыть меню</span>
        </button>
        <div class="main-menu__side-panel">
          <div class="main-menu__side-panel-control">
            <button class="main-menu__button js-menu-button">
              <span class="main-menu__icon-box main-menu__icon-box--big">
                <span class="main-menu__icon main-menu__icon--color-gray"></span>
              </span>
              <span class="main-menu__text">open/hide menu</span>
            </button>
          </div>
          <nav class="main-menu__side-panel-content">
            <ul class="main-menu__list">
              <li class="main-menu__item">
                <a class="main-menu__link is-current" href="#">Новости</a>
              </li>
              <li class="main-menu__item">
                <a class="main-menu__link" href="#">Обзоры</a>
              </li>
              <li class="main-menu__item">
                <a class="main-menu__link" href="#">Музыка</a>
              </li>
              <li class="main-menu__item">
                <a class="main-menu__link" href="#">Архитектура</a>
              </li>
              <li class="main-menu__item">
                <a class="main-menu__link" href="#">Кино</a>
              </li>
              <li class="main-menu__item">
                <a class="main-menu__link" href="#">Театр</a>
              </li>
              <li class="main-menu__item">
                <a class="main-menu__link" href="#">Литература</a>
              </li>
              <li class="main-menu__item">
                <a class="main-menu__link" href="#">Религия</a>
              </li>
              <li class="main-menu__item">
                <a class="main-menu__link" href="#">Живопись</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
