.event
	position: relative

.evend__wrap
	position: relative
	display: flex
	flex-direction: column
	flex-wrap: wrap
	align-items: center
	justify-content: space-around
	padding: 40px 10%
	min-height: 310px
	text-align: center
	@media (min-width: 1200px)
		min-height: 480px

.event__poster
	position: absolute
	top: 0
	right: 0
	left: 0
	bottom: 0
	bottom: 0
	z-index: -1
	overflow: hidden
	background-color: $gray-1

.event__poster img
	display: block
	width: 100%
	height: 100%
	object-fit: cover

.event__name
	display: inline-flex
	max-width: 100%
	margin-bottom: auto
	+title
	font-size: 20px
	line-height: 1.3
	color: $black-2
	letter-spacing: 2px
	text-transform: uppercase
	text-decoration: none
	transition: color 0.15s ease
	@media (min-width: 680px)
		font-size: 30px
		line-height: 1.45

.event__name--light
	color: $white

.event__button
	margin-top: 15px
	min-width: 170px
