.last-news
	position: relative

.last-news__container
	+row

.last-news__left
	flex-basis: 100%
	max-width: 100%
	width: 100%
	@media (min-width: 768px)
		flex-basis: 62.5%
		max-width: 62.5%

.last-news__right
	flex-basis: 100%
	max-width: 100%
	width: 100%
	@media (min-width: 768px)
		flex-basis: 37.5%
		max-width: 37.5%

.last-news__list
	+row

.last-news__item
	position: relative
	flex-basis: 100%
	max-width: 100%
	width: 100%
	padding: 10px 15px 20px

.last-news__list .last-news__item
	@media (min-width: 580px) and (max-width: 767.98pxpx)
		flex-basis: 50%
		max-width: 50%

